html,body{
    width: 100%;
    height: 100%;
}
body{
    margin: auto 0;
}

body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
.lead{
    text-align: center;
}
/* Jumbotron Layout */
.jumbotron-fluid
{
    position: relative;
    border-radius: 1px;
    box-shadow: 0px 0px 10px #555;
    align-content: center;
    width: auto;
}

#jumbo{
    text-align: center; 
}
/* image back and change */
.jumbotron-fluid:hover {
    background: transparent url('imgs/watch2.jpg') no-repeat center center /cover; 
    color: white;
}
/* image change */
.jumbotron-fluid {background: transparent url('imgs/watch1.jpg') no-repeat center center /cover; 
    color: antiquewhite;
}


/* Page layout */
#page-container {
    position: relative;
    padding-bottom: 1%;
  }

  /* Card Layout */
.card > .card-img-top{
    display: flex;
    justify-content: center;
}

#gallery{
    padding-bottom: 20px;
}

/* Content */
.content-wrapper{
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */

}

.pZone > h6{
    text-align: center;
}

.pZone {
    text-align: center;
    margin-left: 10px;
    padding-bottom: 10px;
}